# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" 
alias -- -="cd -"

# Easy typing
alias ll='ls -al'
alias gitk='gitk 2>/dev/null'

# Using MacVim
alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'
