# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" 
alias -- -="cd -"
alias sc="cd ~/Sources"
alias wk="cd ~/Sources/workspace"
#alias mvn='mvn311'
alias mvn=mvn3

# Easy typing
alias ll='ls -al'
alias gitk='gitk 2>/dev/null'

# Using MacVim
alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'

# Using Tmux vim color scheme
alias tmux="TERM=screen-256color-bce tmux"

# fasd
# https://github.com/clvv/fasd
alias a='fasd -a'        # any
alias s='fasd -si'       # show / search / select
alias d='fasd -d'        # directory
alias f='fasd -f'        # file
alias v='f -t -e vim -b viminfo'
alias sd='fasd -sid'     # interactive directory selection
alias sf='fasd -sif'     # interactive file selection
alias j='fasd_cd -d'     # cd, same functionality as j in autojump
alias jj='fasd_cd -d -i' # cd with interactive selection
