[users]
	name = Arbit Chen
[user]
	name = Chun-Yen Chen
	email = abtchen@ucdavis.edu
[core]
	editor = vim
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
	lgmg = log  --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  algmg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  lg = log  --no-merges --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  alg = log --no-merges --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	d = difftool
#[diff]
#  external = git_diff_wrapper
#[core]
#  pager =
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = matching
[http]
	sslVerify = false
[credential]
	helper = !printf 'host=%s\\nprotocol=https\\n\\n' 'git-codecommit.us-east-1.amazonaws.com' | git credential-osxkeychain erase && aws codecommit credential-helper $@
	UseHttpPath = true
